USE [eShopK6]
GO
ALTER TABLE [dbo].[NhanQua] DROP CONSTRAINT [FK_NhanQua_QuaTang_MaQT]
GO
ALTER TABLE [dbo].[NhanQua] DROP CONSTRAINT [FK_NhanQua_HangHoa_MaHh]
GO
ALTER TABLE [dbo].[HangHoa] DROP CONSTRAINT [FK_HangHoa_Loai_MaLoai]
GO
ALTER TABLE [dbo].[DonHang] DROP CONSTRAINT [FK_DonHang_KhachHang_MaKh]
GO
ALTER TABLE [dbo].[CTDonHang] DROP CONSTRAINT [FK_CTDonHang_HangHoa_MaHh]
GO
ALTER TABLE [dbo].[CTDonHang] DROP CONSTRAINT [FK_CTDonHang_DonHang_MaDh]
GO
ALTER TABLE [dbo].[KhachHang] DROP CONSTRAINT [DF__KhachHang__VaiTr__5CD6CB2B]
GO
/****** Object:  Index [IX_NhanQua_MaQT]    Script Date: 5/30/2019 8:57:32 PM ******/
DROP INDEX [IX_NhanQua_MaQT] ON [dbo].[NhanQua]
GO
/****** Object:  Index [IX_NhanQua_MaHh]    Script Date: 5/30/2019 8:57:32 PM ******/
DROP INDEX [IX_NhanQua_MaHh] ON [dbo].[NhanQua]
GO
/****** Object:  Index [IX_HangHoa_MaLoai]    Script Date: 5/30/2019 8:57:32 PM ******/
DROP INDEX [IX_HangHoa_MaLoai] ON [dbo].[HangHoa]
GO
/****** Object:  Index [IX_DonHang_MaKh]    Script Date: 5/30/2019 8:57:32 PM ******/
DROP INDEX [IX_DonHang_MaKh] ON [dbo].[DonHang]
GO
/****** Object:  Index [IX_CTDonHang_MaHh]    Script Date: 5/30/2019 8:57:32 PM ******/
DROP INDEX [IX_CTDonHang_MaHh] ON [dbo].[CTDonHang]
GO
/****** Object:  Index [IX_CTDonHang_MaDh]    Script Date: 5/30/2019 8:57:32 PM ******/
DROP INDEX [IX_CTDonHang_MaDh] ON [dbo].[CTDonHang]
GO
/****** Object:  Table [dbo].[QuaTang]    Script Date: 5/30/2019 8:57:32 PM ******/
DROP TABLE [dbo].[QuaTang]
GO
/****** Object:  Table [dbo].[NhanQua]    Script Date: 5/30/2019 8:57:32 PM ******/
DROP TABLE [dbo].[NhanQua]
GO
/****** Object:  Table [dbo].[Loai]    Script Date: 5/30/2019 8:57:32 PM ******/
DROP TABLE [dbo].[Loai]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/30/2019 8:57:32 PM ******/
DROP TABLE [dbo].[KhachHang]
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 5/30/2019 8:57:32 PM ******/
DROP TABLE [dbo].[HangHoa]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 5/30/2019 8:57:32 PM ******/
DROP TABLE [dbo].[DonHang]
GO
/****** Object:  Table [dbo].[CTDonHang]    Script Date: 5/30/2019 8:57:32 PM ******/
DROP TABLE [dbo].[CTDonHang]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/30/2019 8:57:32 PM ******/
DROP TABLE [dbo].[__EFMigrationsHistory]
GO
USE [master]
GO
/****** Object:  Database [eShopK6]    Script Date: 5/30/2019 8:57:32 PM ******/
DROP DATABASE [eShopK6]
GO
/****** Object:  Database [eShopK6]    Script Date: 5/30/2019 8:57:32 PM ******/
CREATE DATABASE [eShopK6]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'eShopK6', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\eShopK6.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'eShopK6_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\eShopK6_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [eShopK6].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [eShopK6]
GO
USE [eShopK6]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/30/2019 8:57:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDonHang]    Script Date: 5/30/2019 8:57:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDonHang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaDh] [int] NOT NULL,
	[MaHh] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [float] NOT NULL,
 CONSTRAINT [PK_CTDonHang] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 5/30/2019 8:57:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NgayDatHang] [datetime2](7) NOT NULL,
	[TrangThaiDonHang] [int] NOT NULL,
	[TongTien] [float] NOT NULL,
	[MaKh] [nvarchar](20) NULL,
	[DiaChiGiaoHang] [nvarchar](max) NULL,
	[NguoiNhan] [nvarchar](max) NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 5/30/2019 8:57:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MaHh] [int] IDENTITY(1,1) NOT NULL,
	[TenHh] [nvarchar](50) NOT NULL,
	[Hinh] [nvarchar](150) NULL,
	[MoTa] [nvarchar](max) NULL,
	[DonGia] [float] NOT NULL,
	[GiamGia] [tinyint] NOT NULL,
	[MaLoai] [int] NOT NULL,
	[TenKhongDau] [nvarchar](50) NULL,
 CONSTRAINT [PK_HangHoa] PRIMARY KEY CLUSTERED 
(
	[MaHh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/30/2019 8:57:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKh] [nvarchar](20) NOT NULL,
	[HoTen] [nvarchar](150) NOT NULL,
	[GioiTinh] [int] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[MatKhau] [nvarchar](max) NULL,
	[ConHieuLuc] [bit] NOT NULL,
	[VaiTro] [int] NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loai]    Script Date: 5/30/2019 8:57:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[Hinh] [nvarchar](150) NULL,
	[MaLoaiCha] [int] NOT NULL,
	[TenKhongDau] [nvarchar](50) NULL,
 CONSTRAINT [PK_Loai] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanQua]    Script Date: 5/30/2019 8:57:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanQua](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaQT] [int] NOT NULL,
	[MaHh] [int] NOT NULL,
	[MaKh] [nvarchar](max) NULL,
	[NgayNhan] [datetime2](7) NULL,
 CONSTRAINT [PK_NhanQua] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuaTang]    Script Date: 5/30/2019 8:57:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuaTang](
	[QuaTangId] [int] IDENTITY(1,1) NOT NULL,
	[TenQua] [nvarchar](max) NULL,
	[MoTa] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[HanDung] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_QuaTang] PRIMARY KEY CLUSTERED 
(
	[QuaTangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20190514120834_AddLoai', N'2.1.4-rtm-31024')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20190514141144_AddHangHoa', N'2.1.4-rtm-31024')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20190514161800_UpdateModel', N'2.1.8-servicing-32085')
SET IDENTITY_INSERT [dbo].[CTDonHang] ON 

INSERT [dbo].[CTDonHang] ([Id], [MaDh], [MaHh], [SoLuong], [DonGia]) VALUES (2, 2, 1, 1, 32990000)
INSERT [dbo].[CTDonHang] ([Id], [MaDh], [MaHh], [SoLuong], [DonGia]) VALUES (3, 3, 2, 1, 39499000)
INSERT [dbo].[CTDonHang] ([Id], [MaDh], [MaHh], [SoLuong], [DonGia]) VALUES (4, 4, 3, 1, 4290000)
SET IDENTITY_INSERT [dbo].[CTDonHang] OFF
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([Id], [NgayDatHang], [TrangThaiDonHang], [TongTien], [MaKh], [DiaChiGiaoHang], [NguoiNhan]) VALUES (2, CAST(N'2019-03-25T19:50:31.9442459' AS DateTime2), 0, 32990000, N'KH636944106318333934', N'105 Bà Huyện Thanh Quan', N'Trần Minh Huy')
INSERT [dbo].[DonHang] ([Id], [NgayDatHang], [TrangThaiDonHang], [TongTien], [MaKh], [DiaChiGiaoHang], [NguoiNhan]) VALUES (3, CAST(N'2019-04-25T20:02:16.0427441' AS DateTime2), 0, 39499000, N'KH636944113359255576', N'280 An Dương Vương', N'Hy Hiến')
INSERT [dbo].[DonHang] ([Id], [NgayDatHang], [TrangThaiDonHang], [TongTien], [MaKh], [DiaChiGiaoHang], [NguoiNhan]) VALUES (4, CAST(N'2019-05-25T20:09:07.1645004' AS DateTime2), 0, 4290000, N'KH636944117470474206', N'280 An Dương Vương', N'Hy Hiến')
SET IDENTITY_INSERT [dbo].[DonHang] OFF
SET IDENTITY_INSERT [dbo].[HangHoa] ON 

INSERT [dbo].[HangHoa] ([MaHh], [TenHh], [Hinh], [MoTa], [DonGia], [GiamGia], [MaLoai], [TenKhongDau]) VALUES (1, N'IPhone XS Max Gold 64GB', N'iPhone-Xs-Max-gold.jpg', N'IPhone XS Max Golg 64GB', 32990000, 0, 2, N'iphone-xs-max-gold-64gb')
INSERT [dbo].[HangHoa] ([MaHh], [TenHh], [Hinh], [MoTa], [DonGia], [GiamGia], [MaLoai], [TenKhongDau]) VALUES (2, N'Macbook Air 13', N'macbook-air-13-2018-Gold-1.jpg', N'Macbook Air 13', 39499000, 5, 4, N'macbook-air-13')
INSERT [dbo].[HangHoa] ([MaHh], [TenHh], [Hinh], [MoTa], [DonGia], [GiamGia], [MaLoai], [TenKhongDau]) VALUES (3, N'Samsung Galaxy A50 black', N'samsung-galaxy-a50-black.png', N'Điện thoại Samsung Galaxy A50 64GB', 4290000, 3, 2, N'samsung-galaxy-a50-black')
SET IDENTITY_INSERT [dbo].[HangHoa] OFF
INSERT [dbo].[KhachHang] ([MaKh], [HoTen], [GioiTinh], [Email], [DiaChi], [MatKhau], [ConHieuLuc], [VaiTro]) VALUES (N'admin', N'Quản trị Hệ thống', 0, N'administrator@nhatnghe.com', N'105 Bà Huyện Thanh Quan', N'123456', 1, 3)
INSERT [dbo].[KhachHang] ([MaKh], [HoTen], [GioiTinh], [Email], [DiaChi], [MatKhau], [ConHieuLuc], [VaiTro]) VALUES (N'banhang', N'Nhân viên bán hàng', 1, N'banhanG@nn.com', N'105 Bà Huyện Thanh Quan', N'banhang', 1, 1)
INSERT [dbo].[KhachHang] ([MaKh], [HoTen], [GioiTinh], [Email], [DiaChi], [MatKhau], [ConHieuLuc], [VaiTro]) VALUES (N'KH636944106318333934', N'Trần Minh Huy', 0, N'minhhuy@nhatnghe.com', N'105 Bà Huyện Thanh Quan', NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[Loai] ON 

INSERT [dbo].[Loai] ([MaLoai], [TenLoai], [MoTa], [Hinh], [MaLoaiCha], [TenKhongDau]) VALUES (1, N'Điện thoại - Máy tính bảng', N'Điện thoại - Máy tính bảng', NULL, 0, N'dien-thoai-may-tinh-bang')
INSERT [dbo].[Loai] ([MaLoai], [TenLoai], [MoTa], [Hinh], [MaLoaiCha], [TenKhongDau]) VALUES (2, N'Điện thoại', N'Điện thoại', NULL, 1, N'dien-thoai')
INSERT [dbo].[Loai] ([MaLoai], [TenLoai], [MoTa], [Hinh], [MaLoaiCha], [TenKhongDau]) VALUES (4, N'Máy tính bảng', N'Máy tính bảng', NULL, 1, N'may-tinh-bang')
SET IDENTITY_INSERT [dbo].[Loai] OFF
/****** Object:  Index [IX_CTDonHang_MaDh]    Script Date: 5/30/2019 8:57:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_CTDonHang_MaDh] ON [dbo].[CTDonHang]
(
	[MaDh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CTDonHang_MaHh]    Script Date: 5/30/2019 8:57:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_CTDonHang_MaHh] ON [dbo].[CTDonHang]
(
	[MaHh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DonHang_MaKh]    Script Date: 5/30/2019 8:57:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_DonHang_MaKh] ON [dbo].[DonHang]
(
	[MaKh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangHoa_MaLoai]    Script Date: 5/30/2019 8:57:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_HangHoa_MaLoai] ON [dbo].[HangHoa]
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_NhanQua_MaHh]    Script Date: 5/30/2019 8:57:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_NhanQua_MaHh] ON [dbo].[NhanQua]
(
	[MaHh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_NhanQua_MaQT]    Script Date: 5/30/2019 8:57:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_NhanQua_MaQT] ON [dbo].[NhanQua]
(
	[MaQT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [VaiTro]
GO
ALTER TABLE [dbo].[CTDonHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDonHang_DonHang_MaDh] FOREIGN KEY([MaDh])
REFERENCES [dbo].[DonHang] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTDonHang] CHECK CONSTRAINT [FK_CTDonHang_DonHang_MaDh]
GO
ALTER TABLE [dbo].[CTDonHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDonHang_HangHoa_MaHh] FOREIGN KEY([MaHh])
REFERENCES [dbo].[HangHoa] ([MaHh])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTDonHang] CHECK CONSTRAINT [FK_CTDonHang_HangHoa_MaHh]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhachHang_MaKh] FOREIGN KEY([MaKh])
REFERENCES [dbo].[KhachHang] ([MaKh])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhachHang_MaKh]
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [FK_HangHoa_Loai_MaLoai] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[Loai] ([MaLoai])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [FK_HangHoa_Loai_MaLoai]
GO
ALTER TABLE [dbo].[NhanQua]  WITH CHECK ADD  CONSTRAINT [FK_NhanQua_HangHoa_MaHh] FOREIGN KEY([MaHh])
REFERENCES [dbo].[HangHoa] ([MaHh])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanQua] CHECK CONSTRAINT [FK_NhanQua_HangHoa_MaHh]
GO
ALTER TABLE [dbo].[NhanQua]  WITH CHECK ADD  CONSTRAINT [FK_NhanQua_QuaTang_MaQT] FOREIGN KEY([MaQT])
REFERENCES [dbo].[QuaTang] ([QuaTangId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanQua] CHECK CONSTRAINT [FK_NhanQua_QuaTang_MaQT]
GO
USE [master]
GO
